.about{
	.hero{
		max-width:100%;
		margin-bottom:3em;
	}
	color:$drk-grey;
	.row{
		margin-bottom:3em;
	}
	.col-4{
		height:inherit;
		//background:blue;
		 @include border-box;
		padding-right:2em;
		width:25%;
		float:left;
		display:block;
		h3{
			text-transform:uppercase;
			color: $red;
			font-family:$fjalla;
			padding-bottom:5px;
		}	
	}
	.col-4:last-child{
		padding-right:0;
	}
	#greyBoxContent{
		background: #dcdcdc;
		width:100%;
		@include border-box;
		padding: 3em 4.5em;
	}
}