.about{
	.hero{
		max-width:100%;
		margin-bottom:3em;
	}
	color:$drk-grey;
	.row{
		margin-bottom:3em;
	}
	.col-4{
		height:inherit;
		//background:blue;
		 @include border-box;
		padding-right:2em;
		width:25%;
		float:left;
		display:block;
		h3{
			text-transform:uppercase;
			color: $red;
			font-family:$fjalla;
			padding-bottom:5px;
		}	
		p{
			font-size:1.125em;
			line-height:1.5em;
		}
	}
	.col-4:last-child{
		padding-right:0;
	}
	#greyBoxContent{
		background: #dcdcdc;
		width:100%; 
		@include border-box; 
		padding: 3em 4.5em;
		p{
			font-size: 1.5em;
			line-height:1.375em;
		}
	}
	#bottomRow{
		margin-top:3em;
		#left{
			float:left;
			width:50%;
			padding-right:8%;
			@include border-box;
			font-size: 1.5em;
			line-height:1.375em;
		}
		#right{
			float:left;
			width:50%;
			ul{
				float:left;
				width:46%;
				li{
					font-size:1em;
					padding: 0 0 .8em 0;
				}
			}
			ul:first-child{
				margin-right:6%;
			}
		}
	}
}

@media only screen and (max-width: $small) {
	.about{
		.col-4{
			width:100%;
			padding-bottom:3em;
			p{
				line-height:1em;
			}
		}
		.col-4:last-child{
			padding-bottom:0;
		}
		#bottomRow{
			#left, #right{
				width:100%;
			}
			#left{
				margin-bottom:3em;
			}
		}
	}
}