$sidebar-width: 35%;
.blog{
	#posts{
		width: ( 100 - $sidebar-width );
		float:left;
		// padding-right: $sidebar-width;
		// @include border-box;
		&.postList{
			.post{
				padding-bottom: 2em;
				margin-bottom: 3em;
				border-bottom: 1px solid $drk-grey;
			}
		}
		&.singlePost{

		}
	}
	.archiveTitle{
		font-family:$fjalla;
		text-transform: uppercase;
		color:$drk-grey;
		margin-bottom:.8em;
		font-size:2em;
	}
	.monthTitle{
		font-family:$fjalla;
		color:$drk-grey;
		margin-bottom:1em;
		font-size:1.5em;
	}
	.blogSidebar{
		width:$sidebar-width;
		float:left;
		padding-left:2em;
		@include border-box;
		#inner{
			display:block;
			background: $bg-grey;
			@include border-box;
			padding: 2.5em 2em;
			.heading{
				color:$drk-grey;
				text-transform:uppercase;
				font-size:1.125em;
				padding-bottom:.3em;
				font-family:$fjalla;
				display:block;
			}
			.copy{
				color:$lt-grey;
				margin-bottom:.5em;
				display:block;
			}
			.textBox{
				@include border-box;
				padding:.6em;
				border:none;
				width:100%;
			}
			button[type="submit"], input[type="submit"]{
				margin-top:.6em;
				text-decoration:none;
				background:transparent;
				@include cta;
				margin-bottom:3em;
			}
			button[type="submit"]:hover, input[type="submit"]:hover{
				cursor:pointer;
				@include cta-hover;
			}
		}
		ul.social{
			float:left;
			padding:0;
			display:block;
			width:100%;
			margin-bottom:3em;
		}
		ul.archive, ul.archive{
			li{
				a{
					text-decoration:none;
					font-size:0.875em;
					color:$lt-grey;
					line-height: 1.3em;
				}
				a:hover{
					text-decoration: underline;
				}
			}
		}
		.archive{
			margin-bottom:3em;
		}
	}	
	.head{
		position:relative;
		margin-bottom: 1.56em;
		.headerImg{
			max-width:100%;
		}	
		.date{
			position:absolute;
			background:#fff;
			color:$red;
			left:0;
			top:1.2em;
			width:2.9em;
			text-align: center;
			text-transform: uppercase;
			font-size:1.5em;
			line-height: 1em;
			padding: 0.4em 0;
			//font-weight:600;
			.day{
				display:block
			}
			.month{
				display:block
			}
		}
	}
	.titleHolder{
		position:relative;
		.title{
			text-transform: uppercase;
			font-family:$fjalla;
			color:$drk-grey;
			font-size:1.875em;
			text-decoration: none;
		}	
		.fb-like{
			position:absolute;
			right:0;
			top:0;
		}
	}
	.title:hover{
		text-decoration: underline;
	}
	.body{
		padding-top:.8em;
		font-size: 1.125em;
		line-height:1.3em;
		color:$lt-grey;
	}
	.more{
		display:inline-block; 
		color:$red;
		font-weight:600;
		text-decoration: none;
	}
	.readMore{
		display:inline-block
	}
	.tags{
		border-top: 1px solid $drk-grey;
		border-bottom: 1px solid $drk-grey;
		padding-bottom:.3em;
		font-size:.875em;
		margin: 2em 0 3em 0;
		ul{
			display:inline-block;
		}
		li { display: block; float:left; list-style-type: none; }
		li:after { content: ", "; }
		li:last-child:after { content: ""; }
		a{
			text-decoration:none;
			color:$lt-grey;
			margin-left:.5em;
			margin-right: -4px;
		}
		p{
			line-height:3em;
			display:inline-block;
		}
		a:hover{
			text-decoration:underline;
		}
	}
	#existing-comments{
		h4{
			margin: 2em 0 1em 0; 
			text-transform: uppercase;
			font-family: $fjalla;
			font-size:1.2em;
			color:$drk-grey;
		}
		p{
			margin-bottom:1em;
		}
		.image{
			display:none;
		}
		.details{
			margin-bottom:2em;
			.name a{
				color:$drk-grey;
				font-size:1.125em;
				text-decoration: none;
			}
			.name a:hover{
				text-decoration: underline;	
			}
			.date{
				color:$lt-grey;
				font-size:0.875em;
				line-height:2em;
			}
			.content p{
				color:$lt-grey;
				font-size:1.125em;
				line-height:1.3em;
			}
		}
	}
	#create-comment{
		background: $bg-grey;
		@include border-box;
		padding: 2em;
		label{
			//display:none;
			display:block;
			margin:.5em 0 .15em 0;
		}
		input[type="text"]{
			@include border-box;
			padding:.6em;
			border:none;
			width:40%;
		}
		h4{
			padding-bottom:1em;
			text-transform: uppercase;
			color:$drk-grey;
			font-family:$fjalla;
		}
		.form_textarea, #comment {
			margin:0;
			padding:0;
			width:100%;
			border:none;
			margin-top:.3em;
		}
		input[type="submit"]{
			margin-top:2em;
			text-decoration:none;
			background:transparent;
			@include cta;
		}
		input[type="submit"]:hover{
			cursor:pointer;
			@include cta-hover;
		}
	}
	.error-box{
		p{
			color:red;
			margin: 1em 0;
			font-weight:600;
		}
	}
	#pagination{
		ul{
			display:block; 
			float:right;
			li{
				display:block;
				float:left;
				a, span{
					@include cta;
				}
				&.active{
					span{color:$red !important;}
					font-weight:800;
				}
				a:hover{
					@include cta-hover;
				}
			}
		}
	}
}
