.home{
	.roundedButton{
		@include transition-all;
	}
	.heroSlider{
		.btnPaginate{
			top:43%;
		}
	}
	#doubleSlider{
		position:relative;
		margin: 3.75em 0 4.6875em 0;
		#backgroundSlider{
			width: 109%;
			left: -4.5%;
			.carousel,
			.carousel .mask {
				width: 109%;
				height: auto;
			}
		}
		#foregroundSlider{
			margin-top: 8%;
			background: rgb(255, 255, 255);
			background: rgba(255, 255, 255, 0.8);
			position:absolute !important;
			top:0;
			width: 40%;
			height: 16em;
			width:26em;
			right: 0;
			padding: 2.5em 1.5625em;
			.carousel,
			.carousel .mask {
				width: 500px;
			}
			.mask{
				//overflow:visible;
				height: inherit;
				padding-bottom: 2em;
			}
			h4{
				font-size:1.62em;
				color:$red;
				font-family:$fjalla;
				padding-bottom:.6em;
			}
			p{
				font-size:1.125em;
				line-height:1.25em;
				padding-bottom:1em;
			}
			.thumbnails{
				bottom: 2.5em;
				right: 1.5625em;
				a{
					display:inline-block;
					width:13px;
					height:13px;
					margin-right:6px;
					background: url(/assets/img/btn_paginate.png);
					background-position: -16px -13px;
					
				}
				a.active{
					background-position: -31px -13px;
				}
			}
		}
	}
	#bottom{
		#mediaItems{
			display:block;
			float:right;
			width:70%;
			text-align: right;
			img{
				//border:1px solid $lt-grey;
				margin-right:1.125em;
   				width:30%;
   				margin-right:4%;
   				display:block;
				float:left;
			}	
			img:last-child{
				margin-right:0;
			}
		}
		.info{
			width:30%;
			float:left;
			padding-right:8%;
			@include border-box;
			p{
				padding: 1em 0 1.3em 0;
				font-size:1.5em;
				line-height:1.15em;
				color:$drk-grey;
			}
			a{
				//font-size:1.2em;
			}
		}
	}
	#blurb{
		margin-bottom:4em;
		position:relative;
		p{
			font-size:1.5em;
			line-height:1.2em;
			color: $lt-grey;
			@include border-box;
			padding-right:7.5em;
		}
		a{
    		position:absolute;
    		bottom:0;
    		right:0;
		}
	}
	#projects{
		> div {
			float:left;
			width:48%;
			img{
				width:100%;
			}
			a.copy{
				display:block;
				color:$drk-grey;
				text-transform: uppercase;
				font-family: $fjalla;
				font-size:1.875em;
				background:url("/assets/img/divider.jpg") center bottom no-repeat;
				text-decoration: none;
				line-height:2em;
				padding-left:.4em;
				@include border-box;
				-webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s; 
			}
			a:hover{
				color:$red;
			}
		}
		div:first-child{
			margin-right:4%
		}
	}
}

@media only screen and (max-width: $small) {
	.home {
		#projects{
			#left, #right{
				width:100%;
				margin-right:0;
			}	
		}
		#blurb{
			p{
				width:100%;
				padding-right:0;
			}
			a{
				
	    		position:relative;
	    		margin: 2em 0 0 0 ;
	    		bottom:0;
	    		right:0;
			}
		}
		#bottom{
			#mediaItems{
				float:left;
				width:100%; 
				// text-align: right; 
				height:auto !important;
				img{
					width:30.5%;
				}	
				
			}
			.info{
				width:100%;
				float:left;
				p{
					padding: 1em 0 1.3em 0;
					font-size:1.5em;
					line-height:1.15em;
					color:$drk-grey;
				}
				a{
					font-size:1.2em;
				}
			}
		}
		#doubleSlider {
			#foregroundSlider{
				position:relative !important;
				width:auto;
				margin-top:0;
				padding: 2.5em 0;
				// ul{
				// 	width:100% !important;
				// }
				.roundedButton{
					//font-size:1.2em;
				}
			}
		}
	}
}


@media only screen and (max-width: $extrasmall) {
	.home {
		.btnPaginate{display:none;}
		.carousel .mask > ul > li {
			// width: 200% !important;
			// height: 130% !important;
		}
		#home h3 {font-size:2.4em;}
		#bottom{
			#mediaItems{
				float:left;
				width:100%; 
				// text-align: right; 
				height:auto !important;
				img{
					width:48%;
					margin-right:4%;
				}	
				img:nth-child(2n+0) {
					margin-right:0;
				}
				img:last-child{
					display:none;
				}
			}
		}
		#doubleSlider{
			margin-bottom:0;
		}
		#projects > div a{
			font-size:1em;
			line-height:4em;
		}
		#blurb {
			padding-bottom:0;
			a {
				float:left;
				margin-left:0;
			}	
		}
	}
}