
html{
	font-size:100%; 
}
body{
	border-top:8px solid $red; 
	font-size:1em;
	font-family: 'News Cycle', sans-serif;
}

#outerWrap{
	max-width:1280px;
	margin: 0 auto;
	width:100%;
	overflow:hidden;
	&.mobileOpen{
		#outer-content{
			left: - $mobile-nav-width;	
		}
		nav ul#nav{
			left: (100 - $mobile-nav-width);
			li{
				padding:0;
				a{
					display:block;
					padding:2.5em 2.75em;
					border-bottom:1px solid $lt-grey;
					color:$drk-grey;
				}
			}
		}
		footer{
			left: - $mobile-nav-width;	
		}
	}
}
#outer-content{
	position:relative;
}
#main{
	padding: 12em $side-padding 5em; 
	z-index:20;
}


@media only screen and (max-width: $medium) {
	#outerWrap{
		font-size:.8em;
	}
}

@media only screen and (max-width: $small) {
	#outerWrap{
		#outer-content, nav ul#nav, footer{
			 -webkit-transition: all 0.3s;
		    -moz-transition: all 0.3s;
		    -o-transition: all 0.3s;
		    transition: all 0.3s; 
		}
		#outer-content{
			left:0;
		}
		footer{
			position:relative;
			left:0;
		}
	}
}