
html{
	font-size:100%; 
}
body{
	border-top:8px solid $red; 
	font-size:1em;
	font-family: 'News Cycle', sans-serif;
}
#outerWrap{
	max-width:1280px;
	margin: 0 auto;
}
#main{
	padding: 12em $side-padding 5em; 
	z-index:20;
}
.cta{

}

@media only screen and (max-width: $medium) {
	#outerWrap{
		font-size:.8em;
	}
}

@media only screen and (max-width: $small) {
	#outerWrap{
		background:yellow;
	}
}