nav{
	font-family: $fjalla;
	background:#fff;
	max-width: 1280px;
	width:100%;
	margin: 0 auto;
	z-index:30;
	position:absolute;
	//margin-right:0;
	//padding: 0 $side-padding;
	//left:0;
	@include border-box;
	#inner{
		background: url('/assets/img/divider.jpg') center bottom no-repeat;	
		margin: 0 $side-padding;
		position:relative;
	}
	.navMenuBtn{
		display:none;
	}
	a{
		text-decoration:none;
		text-transform: uppercase;
	}
	#logo{
		display:block;
		float:left;
		margin-top:1.7em;
	}
	ul#nav{
		float:right;
		display:block;
		margin-bottom: 0.75em;
		li{
			padding: 2.5em 1.4em;
			display:block;
			float:left;
			a{
				font-size:1em;
				color:$lt-grey; 
				 -webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s; 
			}
			a:hover{
				color:$red;
			}
			&.current{
				background: $red;  
				a{
					color:#fff;	
				}
			}
		}
	}
	.bottom{
		display:block;
		width:100%;
		height:4px;
		background:blue;
	}
	&.fixed{
		position:fixed;
		top:0;
		//right:0;
		margin-right:0;
		.mobileOpen &{
			right: 45% !important;
			background:red;
		}
	}
}

ul.social{
	float:right;
	display:block;
	padding:2em 0 0 2em;
	li{
		float:left;
		display:block;
		margin-right:.5em;
		a{
			display:block;
			width:26px;
			height:26px;
			// background:red;
		}
		a:hover{
			background-position: 0 -26px;
		}
		.fb{
			background: url('/assets/img/fb.png') no-repeat;	
			background-position: 0 0;
		}
		.li{
			background: url('/assets/img/li.png') no-repeat;	
			background-position: 0 0;
		}
		.pi{
			background: url('/assets/img/pi.png') no-repeat;	
			background-position: 0 0;
		}
	}
}

footer{
	background: url('/assets/img/divider.jpg') center top no-repeat;
	font-size:0.875em;
	color:$lt-grey;
	margin: 0 $side-padding;
	margin-bottom:4em;
	a{
		color:$lt-grey;
		text-decoration:none;
		float:left;
	}
	a:hover{
		text-decoration:underline;
	}
	ul.social{
		margin: 0 auto;
		position: absolute;
		width: 121px;
		left: 0;
		right: 0;
	}
	h4{
		float:right;
	}
	.align{
		line-height:5em;
	}
}

@media (max-width: 860px) {
  nav ul#nav li {
  		padding-left: .68em;
  		padding-right: .68em;
  	}
}

@media (max-width: $small) {
	footer ul.social{
		padding:4.5em 0 0 4em;
	}
	nav{
		// &.fixed{
		// 	-webkit-transition: none !important;
		// 	-moz-transition: none;
		// 	-o-transition: none;
		// 	transition: none; 
		// }
		height:7em;
		
		#inner{
			height:inherit
		}
		ul#nav{
			position:fixed;
			top:0;
			height:100%; 
			//padding-top: 8px;
			//border-top: 8px solid $red;
			-webkit-box-shadow: inset 4px -6px 13px -2px #3d3d3d;
			-moz-box-shadow: inset 4px -6px 13px -2px #3d3d3d;
			-o-box-shadow: inset 4px -6px 13px -2px #3d3d3d;
			-ms-box-shadow: inset 4px -6px 13px -2px #3d3d3d;
			box-shadow: inset 4px -6px 13px -2px #3d3d3d;
			width:45%;
			left:100%;
			li{
				float:none;
				&.current{
					a{
						color: #fff !important;
					}
				}

			}
		}
		ul.social{
			display:none;
		}
		.navMenuBtn {
			display: block;
			position: absolute;
			top: 44%;
			right:0;
			//left: $layout-padding;
			margin-top: (-3.75em / 2);
		}
		.navMenuBtn span { 
			display: block;
			width: 2.6em;;
			height: 0.375em;
			margin: 0.4375em auto;
			background: $drk-grey;
			//@include vendor-prefix(border-radius, 3px);
		}
		.navMenuBtn span:first-child { 
			margin-top: 0.875em;
		}	
	}
}

