nav{
	padding: 0 $side-padding;
	font-family: $fjalla;
	a{
		text-decoration:none;
		text-transform: uppercase;
	}
	#logo{
		display:block;
		float:left;
		margin-top:1.7em;
	}
	ul#nav{
		float:right;
		display:block;
		li{
			padding: 2.5em 1.5em;
			display:block;
			float:left;
			a{
				font-size:1em;
				color:$lt-grey;
			}
			&.current{
				background: $red;
				a{
					color:#fff;	
				}
			}
		}
	}
	ul#social{
		float:right;
		display:block;
		padding:2em 0 0 2em;
		li{
			float:left;
			display:block;
			margin-right:.5em;
			a{

			}
		}
	}
	.bottom{
		display:block;
		width:100%;
		height:4px;
		background:blue;
	}
}