nav{
	font-family: $fjalla;
	background:#fff;
	max-width: 1280px;
	width:100%;
	margin: 0 auto;
	z-index:30;
	position:absolute;
	//padding: 0 $side-padding;
	@include border-box;
	#inner{
		background: url('/assets/img/divider.jpg') center bottom no-repeat;	
		margin: 0 $side-padding;
	}
	a{
		text-decoration:none;
		text-transform: uppercase;
	}
	#logo{
		display:block;
		float:left;
		margin-top:1.7em;
	}
	ul#nav{
		float:right;
		display:block;
		margin-bottom: 2em;
		li{
			padding: 2.5em 1.5em;
			display:block;
			float:left;
			a{
				font-size:1em;
				color:$lt-grey; 
			}
			&.current{
				background: $red;  
				a{
					color:#fff;	
				}
			}
		}
	}
	.bottom{
		display:block;
		width:100%;
		height:4px;
		background:blue;
	}
	&.fixed{
		position:fixed;
		top:0;
	}
}

ul#social{
	float:right;
	display:block;
	padding:2em 0 0 2em;
	li{
		float:left;
		display:block;
		margin-right:.5em;
		a{

		}
	}
}

footer{
	background: url('/assets/img/divider.jpg') center top no-repeat;
	font-size:0.875em;
	color:$lt-grey;
	margin: 0 $side-padding;
	margin-bottom:4em;
	a{
		color:$lt-grey;
		text-decoration:none;
		float:left;
	}
	a:hover{
		text-decoration:underline;
	}
	ul#social{
		margin: 0 auto;
		position: absolute;
		width: 121px;
		left: 0;
		right: 0;
	}
	h4{
		float:right;
	}
	.align{
		line-height:5em;
	}
}

@media (max-width: 860px) {
  nav ul#nav li {
  		padding-left: .75em;
  		padding-right: .75em;
  	}
}