.project{
	$gutter: 3%;

	h4{
		text-transform: uppercase;
		font-family: $fjalla;
		color: $drk-grey;
		font-size: 1.875em;
		padding-bottom:1em;
	}
	p{
		color:$lt-grey;
		font-size:1.5em;
		line-height:1em;
		line-height:1.25em;
		padding-bottom:1.3em;
	}
	img{
		//margin-bottom:$gutter;
		display:block;
		float:left;
		margin-bottom:2%;
	}
	.mosaic{
		padding-bottom:4em;
		img{
			display:none;
		}
	}
	.filmstrip{
		.item{
			width:18%;
			display:block;
			float:left;
			margin-right:2.5%;
			position:relative;;
			img{
				width:100%;
			}
			.cover{
				position:absolute;
				top:0;left:0;right:0;bottom:0;
				background:#3e3e3e;
				opacity:0;
				transition: opacity .25s ease-in-out;
			   	-moz-transition: opacity .25s ease-in-out;
			   	-webkit-transition: opacity .25s ease-in-out;
			}
			h5{
				position:absolute;
				top:1em;
				left:1em;
				text-transform: uppercase;
				font-family: $fjalla;
				color: #fff;
				font-size: 1.2em;
				display:none;
				padding-right: 20px;
			}
			a{
				position:absolute;
				bottom:3%;
				right:5%;
				display:none;
				border-color:#fff ;
				color:#fff;
			}
		}
		.item:hover{
			h5, a{
				display:block;
			}
			.cover{
				opacity:0.9;	
			}
		}
		.item:last-child{
			margin-right:0;
		}
	}
	.workplaceFilmStrip{
		//background:red;
		.carousel .mask > ul > li{
			width:25%;
		}
		.box{
			position:relative;
			margin-right:8.5%;	  
			display:block;
			float:left;
			width:92.5%;
			.cover{
				position:absolute;
				top:0;left:0;right:0;bottom:0;
				background:#3e3e3e;
				opacity:0;
				transition: opacity .25s ease-in-out;
			   	-moz-transition: opacity .25s ease-in-out;
			   	-webkit-transition: opacity .25s ease-in-out;
			}
			img{
				margin-bottom:0;
			}
			h5{
				position:absolute;
				top:1em;
				left:1em;
				text-transform: uppercase;
				font-family: $fjalla;
				color: #fff;
				font-size: 1.2em;
				display:none;
				padding-right: 20px;
			}
			a{
				position:absolute;
				bottom:3%;
				right:5%;
				display:none;
				border-color:#fff ;
				color:#fff;
			}
		}
		.box:hover{
			h5, a{
				display:block;
			}
			.cover{
				opacity:0.9;	
			}
		}
		.btnPaginate{
			width: 35px;
			height: 35px;
			top: -3.7em;
			right: 1em;
		}
		.btnPaginate:hover{
			background-position: 0px -35px;
		}
		.btnPrevious{
			right:4em !important;
			left:auto;
			background: url(/assets/img/small_arrows-left.png);
		}
		.btnNext{
			background: url(/assets/img/small_arrows-right.png);
		}
	}
} 