.projectsHome{
	p{
		color:$lt-grey;
		font-size:1.5em;
		line-height:1em;
		line-height:1.25em;
		padding-bottom:3.5em;
	}
	h4{
		text-transform: uppercase;
		font-family: $fjalla;
		color: $drk-grey;
		font-size: 1.875em;
		padding-bottom:0.8em;
	}
	h4.owners{
		padding-top: 2em;
	}
	.btnPaginate{
		width: 35px;
		height: 35px;
		top: -3.7em;
		right: 1em;
	}
	.btnPaginate:hover{
		background-position: 0px -35px;
	}
	.btnPrevious{
		right:4em !important;
		left:auto;
		background: url(/assets/img/small_arrows-left.png);
	}
	.btnNext{
		background: url(/assets/img/small_arrows-right.png);
	}
	.grid{
		//background:yellow;
		.box{
			position:relative;
			.cover{
				position:absolute;
				top:0;left:0;right:0;bottom:0;
				background:#3e3e3e;
				opacity:0;
				transition: opacity .25s ease-in-out;
			   	-moz-transition: opacity .25s ease-in-out;
			   	-webkit-transition: opacity .25s ease-in-out;
			}
			h5{
				position:absolute;
				top:1em;
				left:1em;
				text-transform: uppercase;
				font-family: $fjalla;
				color: #fff;
				font-size: 1.2em;
				display:none;
				padding-right: 20px;
			}
			a{
				position:absolute;
				bottom:3%;
				right:5%;
				display:none;
				border-color:#fff ;
				color:#fff;
			}
			display:block;
			float:left;
			@include border-box;
			img{
				width:100%;
			}
			&.item1{
				width:48%;
				margin-right:2%;
				h5{
					font-size:2.3em;
				}
			}
			&.item2{
				width:23%;
				margin-right:2%;
				margin-bottom:2%;
				a{
					//right:12%;
				}
			}
			&.item3{
				width:23%;
				margin-bottom:2%;
				margin-right:2%;
			}
			&.item4{
				width:23%;
				margin-right:2%;
				a{
					//right:12%;
				}
			}
			&.item5{
				width:23%;
				margin-right:2%;
			}
		}
		.box:hover{
			h5, a{
				display:block;
			}
			.cover{
				opacity:0.9;	
			}
		}
	}
	.projectDesktopSlider {
		&.carousel .mask > ul > li{
			display:block;
			width:50%;
		}
		.box{
			position:relative;
			display:block;
			float:left;
			img{
				width:100%;
			}
			.cover{
				position:absolute;
				top:0;left:0;right:0;bottom:0;
				background:#3e3e3e;
				opacity:0;
				transition: opacity .25s ease-in-out;
			   	-moz-transition: opacity .25s ease-in-out;
			   	-webkit-transition: opacity .25s ease-in-out;
			}
			h5{
				position:absolute;
				top:1em;
				left:1em;
				text-transform: uppercase;
				font-family: $fjalla;
				color: #fff;
				font-size: 1.2em;
				display:none;
				padding-right: 20px;
			}
			a{
				position:absolute;
				bottom:3%;
				right:5%;
				display:none;
				border-color:#fff ;
				color:#fff;
			}
		}
		.box:hover{
			h5, a{
				display:block;
			}
			.cover{
				opacity:0.9;	
			}
		}

		/*
		Large Pics
		*/
		.item1, .item6, .item11, .item16, .item21{
			width: 96%;
			h5{
				font-size:2.3em;
			}
		}

		/*
		Fist Mini Grid of 4
		*/
		.item2, .item3, .item4, .item5{
			width: 46%;
			float: left;
		}
		.item2, .item4{
			margin: 0 4% 0 0%;
		}
		.item2, .item3{
			margin-bottom:4%;
		}

		/*
		Second Mini Grid of 4
		*/
		.item7, .item8, .item9, .item10{
			width: 46%;
			float: left;
		}
		.item7, .item9{
			margin: 0 4% 0 0%;
		}
		.item7, .item8{
			margin-bottom:4%;
		}

		/*
		Third Mini Grid of 4
		*/
		.item12, .item13, .item14, .item15{
			width: 46%;
			float: left;
		}
		.item17, .item19{
			margin: 0 4% 0 0%;
		}
		.item17, .item18{
			margin-bottom:4%;
		}

		/*
		Fourth(?) Mini Grid of 4 - DOESNT EXIST YET
		*/
		.item17, .item18, .item19, .item20{
			width: 46%;
			float: left;
		}
		.item12, .item14{
			margin: 0 4% 0 0%;
		}
		.item12, .item13{
			margin-bottom:4%;
		}
	}

	/**
	PROJECT HOME MOBILE
	**/
	.projectMobileSlider {
		display:none;
		// .btnPaginate{
		// 	display:none;
		// }
		&.carousel .mask > ul > li{
			width:100%;
		}
		.gridMobile{
			.item1, .item6, .item11, .item16, .item21{
				h5{
					font-size:2.3em !important;
				}
			}
			.box{
				float:left;
				display:block;
				position:relative;
				&.item1, &.item6, &.item11, &.item16{
					width:100%;
					margin-right:0;
					margin-bottom:4%;
				}
				&.item2, &.item7, &.item12, &.item17{
					width:48%;
					margin-right:4%;
				}
				&.item3, &.item8, &.item13, &.item18{
					width:48%;	
					margin-bottom:4%;
					margin-right:0;
				}
				&.item4, &.item9, &.item14, &.item19{
					width:48%;
					margin-right:4%;
				}
				&.item5, &.item10, &.item15, &.item20{
					width:48%;
					margin-bottom:4%;
					margin-right:0;
				}
				img{
					width:100%;
				}
				.cover{
					position:absolute;
					top:0;left:0;right:0;bottom:0;
					background:#3e3e3e;
					opacity:0;
					transition: opacity .25s ease-in-out;
				   	-moz-transition: opacity .25s ease-in-out;
				   	-webkit-transition: opacity .25s ease-in-out;
				}
				h5{
					position:absolute;
					top:1em;
					left:1em;
					text-transform: uppercase;
					font-family: $fjalla;
					color: #fff;
					font-size: 1.2em;
					display:none;
					padding-right: 20px;
				}
				a{
					position:absolute;
					bottom:3%;
					right:5%;
					display:none;
					border-color:#fff ;
					color:#fff;
				}
			}
			.box:hover{
				h5, a{
					display:block;
				}
				.cover{
					opacity:0.9;	
				}
			}
		}
	}
}

@media only screen and (max-width: $small) {
	.projectsHome{
		//display:none;
		.roundedButton{
			margin-bottom:0;
		}
		.grid{
			.box{
				&.item1{
					width:100%;
					margin-right:0;
					margin-bottom:4%;
				}
				&.item2{
					width:48%;
					margin-right:4%;
				}
				&.item3{
					width:48%;	
					margin-bottom:4%;
					margin-right:0;
				}
				&.item4{
					width:48%;
					margin-right:4%;
				}
				&.item5{
					width:48%;
					margin-bottom:4%;
					margin-right:0;
				}
			}
		}
		.btnPaginate{
			top: -4em;
		}
		.projectDesktopSlider{display:none;}
		.projectMobileSlider{display:block;}
	}
}