system/cms/cache/
system/cms/logs/
uploads/
addons/shared_addons/themes/brd/.sass-cache/
.htaccess
# Ignore docs files
styles/.sass-cache
styles/.sass-cache/*
system/cms/config/database.php
**/.DS_Store
