<!doctype html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="BRDesign Design Firm">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ settings:site_name }} | {{ template:title }}</title>
    
    {{ asset:css file="theme::style.css" }}
    
    {{ asset:render }}
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="outerWrap" class="{{ page:slug }}">   
    <div id="outer-content">
	    <div id="content">
    
    