<!doctype html>
<html>
<head>
    <title>{{ settings:site_name }} | {{ template:title }}</title>
    
    {{ asset:css file="theme::style.css" }}
    
    {{ asset:render }}
    <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="outerWrap" class="{{ page:slug }}">   
    <div id="outer-content">
	    <div id="content">
    
    