<div id="doubleSlider">
	<div id="backgroundSlider" class="BRD-ui-module carousel" data-module="slider" data-slider="homeBackground">
	    <div class="mask">
	        <ul>
	            {{ streams:cycle stream="homepage_bottom" }}
				    {{ entries }}
				 	<li>
				 		<img src="{{ homepage_bottom_image:image }}" alt="">
				 	</li>
				    {{ /entries }}
				{{ /streams:cycle }}
	        </ul>
	    </div>
	</div>
	<div id="foregroundSlider" class="BRD-ui-module carousel" data-module="slider" data-slider="homeForeground">
        <div class="mask">
            <ul>
                 {{ streams:cycle stream="homepage_bottom" }}
				    {{ entries }}
				 	<li>
				 		<h4>{{ homepage_bottom_title }}</h4>
				 		<p>{{ homepage_bottom_text }}</p>
				 		<a class="roundedButton" href="{{homepage_bottom_link}}">View Project</a>
				 	</li>
				    {{ /entries }}
				{{ /streams:cycle }}
            </ul>
        </div>
    </div>
</div>