<div id="doubleSlider">
	<div id="backgroundSlider" class="BRD-ui-module carousel" data-module="slider" data-slider="homeBackground">
	    <div class="mask">
	        <ul>
	            {{ streams:cycle stream="homepage_bottom" }}
				    {{ entries }}
				 	<li>
				 		<img src="http://s3.amazonaws.com/brdesign/{{filename}}" alt="">
				 	</li>
				    {{ /entries }}
				{{ /streams:cycle }}
	        </ul>
	    </div>
	</div>
	<div id="foregroundSlider" class="BRD-ui-module carousel" data-module="slider" data-slider="homeForeground">
        <div class="mask">
            <ul>
                 {{ streams:cycle stream="homepage_bottom" }}
				    {{ entries }}
				 	<li>
				 		<h4>{{ homepage_bottom_title }}</h4>
				 		<p>{{ homepage_bottom_text }}</p>
				 		<a class="roundedButton" href="{{homepage_bottom_link}}">View Project</a>
				 	</li>
				    {{ /entries }}
				{{ /streams:cycle }}
            </ul>
        </div>
    </div>
</div>
<div id="bottom" class="cf">
	<div class="info">
		<p>BR Design has been featured in many prominent publications.</p>
		<a class="roundedButton" href="/in-the-media">View All</a>
	</div>
		<div class="mediaItems">
		<img src="/assets/img/home_media_1.jpg" alt="">
		<img src="/assets/img/home_media_2.jpg" alt="">
		<img src="/assets/img/home_media_3.jpg" alt="">
	</div>
</div>