<nav class="">
	<div id="inner" class="cf">
		<a href="/" id="logo">
			<img src="/assets/img/brd-logo.png" alt="">
		</a>	
		<ul class="social" class="cf">
			<li>
				<a class="fb" href="#">
					
				</a>
			</li>
			<li>
				<a class="li" href="#">
					
				</a>
			</li>
			<li> 
				<a class="pi" href="#">
					
				</a>
			</li>
		</ul>
		<a href="javascript:void(0)" class="navMenuBtn button-square">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul id="nav" class="cf">{{ navigation:links group="navigation" }}</ul>
	</div>
</nav>
