<nav class="">
	<div id="inner" class="cf">
		<a href="/" id="logo">
			<img src="/assets/img/brd-logo.png" alt="">
		</a>	
		<ul class="social" class="cf">
			<li>
				<a target="_blank" class="fb" href="https://www.facebook.com/brdesignassociates">
					
				</a>
			</li>
			<li>
				<a target="_blank" class="li" href="http://www.linkedin.com/company/br-design-associates?trk=company_name">
					
				</a>
			</li>
			<li> 
				<a target="_blank" class="pi" href="http://www.pinterest.com/weareBRDesign/">
					
				</a>
			</li>
		</ul>
		<a href="javascript:void(0)" class="navMenuBtn button-square">
			<span></span>
			<span></span>
			<span></span>
		</a>
		<ul id="nav" class="cf">{{ navigation:links group="navigation" }}</ul>
	</div>
</nav>
