<nav class="">
	<div id="inner" class="cf">
		<a href="/" id="logo">
			<img src="/assets/img/brd-logo.png" alt="">
		</a>	
		<ul class="social" class="cf">
			<li>
				<a href="#">
					<img src="/assets/img/fb_social.gif" alt="">
				</a>
			</li>
			<li>
				<a href="#">
					<img src="/assets/img/li_social.gif" alt="">
				</a>
			</li>
			<li> 
				<a href="#">
					<img src="/assets/img/pin_social.gif" alt="">
				</a>
			</li>
		</ul>
		<ul id="nav" class="cf">{{ navigation:links group="header" }}</ul>
	</div>
</nav>
