<div id="home">  
<h3>People that Listen.<br> Interiors that work.</h3>	
	<div class="BRD-ui-module carousel" data-module="slider" data-slider="hero">
	    <div class="mask">
	        <ul>
	            <li>
					<img src="/assets/img/slide_1.jpg" alt="">		
				</li>
				<li>
					<img src="/assets/img/slide_2.jpg" alt="">		
				</li>
				<li>
					<img src="/assets/img/slide_3.jpg" alt="">		
				</li>
				<li>
					<img src="/assets/img/slide_4.jpg" alt="">		
				</li>
				<li>
					<img src="/assets/img/slide_5.jpg" alt="">			
				</li>
	        </ul>
	    </div>
	</div>
</div>