{{ theme:partial name="header" }}  
		
		{{ theme:partial name="nav" }}
		
		<div id="main">
			<img class="hero" src="/assets/img/about_hero.jpg" alt="">
        	<div class="cf row">
	        	<div class="col-4">
	        		<h3>listening</h3>
	        		{{ listening }}
	        	</div>
	        	<div class="col-4">
	        		<h3>translating</h3>
	        		{{ translating }}
	        	</div>
	        	<div class="col-4">
	        		<h3>communicating</h3>
	        		{{ listening }}
	        	</div>
	        	<div class="col-4">
	        		<h3>delivering</h3>
	        		{{ listening }}
	        	</div>
	        </div>
        	<div id="greyBoxContent">
        		{{ grey_box_content }}
        	</div>

        </div>     
        
{{ theme:partial name="footer" }}
