{{ theme:partial name="header" }}  
		
	
		{{ theme:partial name="nav" }}
		
		<div id="main">
			
			<h4>{{title}}</h4>

			<p>{{clients_blurb}}</p>

		    <div class="cf">
				<div class="BRD-ui-module clientsList" data-module="clients">	
					{{ streams:cycle stream="clients_logos" order_by="ordering_count" }}
					    {{ entries }}
					    <div class="imgWrap">
					    	<img src="http://s3.amazonaws.com/brdesign-clients/{{client_logo_bw:filename}}" class="{{id}}" alt="" />
					 		<img class="color" src="http://s3.amazonaws.com/brdesign-clients/{{clients_logo_color:filename}}" class="{{id}}" alt="" />
					 	</div>
					    {{ /entries }}
					{{ /streams:cycle }}
				</div>
		    </div>
        
        </div>     
        
{{ theme:partial name="footer" }}
