{{ theme:partial name="header" }}  
		
	
		{{ theme:partial name="nav" }}
		
		<div id="main">

			{{ widgets:area slug="google_map" }}
			this is the map:<br>sdf
			{{ widgets:area id="2"}}
			

<!-- 			{{ contact:form name="text|required" email="text|required|valid_email" subject="dropdown|Support|Sales|Feedback|Other" message="textarea" attachment="file|zip" }}
			Name:{{ name }}
			Email:{{ email }}
			Subject:{{ subject }}
			Message:{{ message }}
			Attach a zip file:{{ attachment }}
			{{ /contact:form }} -->
        
        </div>     
        
{{ theme:partial name="footer" }}
