{{ theme:partial name="header" }}
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

		{{ theme:partial name="nav" }}

		<div id="main">
			<H3>How can we help you?</H3>
			<a class="email" href="Info@brdesignassociates.com">info@brdesignassociates.com</a>
			<div class="BRD-ui-module" data-module="contactMap" id="map_canvas" style="width:100%; height:400px;">

			</div>

			<address>
			630 Ninth Avenue, Suite 502<br>
			New York, NY 10036<br>
			tel: 646.690.1960  //  fax: 646.690.1936
			</address>
			<a href="https://www.google.com/maps/dir//630+9th+Ave+%23502,+New+York,+NY+10036/@40.7599104,-74.0261687,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x89c25853c8292667:0x42cab5e947a67ac7!2m2!1d-73.9911492!2d40.7599157" target="_blank" class="roundedButton"> Get Directions</a>

			<!--{{ contact:form name="text|required" email="text|required|valid_email" subject="dropdown|Support|Sales|Feedback|Other" message="textarea" attachment="file|zip" }}
			Name:{{ name }}
			Email:{{ email }}
			Subject:{{ subject }}
			Message:{{ message }}
			Attach a zip file:{{ attachment }}
			{{ /contact:form }} -->

        </div>

{{ theme:partial name="footer" }}
