{{ theme:partial name="header" }}  
		
		<!-- slider -->
		{{ if page:slug  == 'home' }}
			{{ theme:partial name="slider" }}
		{{ endif }}
		<!-- /slider -->
		
		{{ theme:partial name="nav" }}
		
		<div id="main">
        
	        {{ template:body }}
        
        	<div id="home-backgroundSlider" class="BRD-ui-module carousel" data-module="slider" data-slider="home-background">
			    <div class="mask">
			        <ul>
			            <li>
							<img src="/assets/img/slide_1.jpg" alt="">		
						</li>
						<li>
							<img src="/assets/img/slide_2.jpg" alt="">		
						</li>
						<li>
							<img src="/assets/img/slide_3.jpg" alt="">		
						</li>
						<li>
							<img src="/assets/img/slide_4.jpg" alt="">		
						</li>
						<li>
							<img src="/assets/img/slide_5.jpg" alt="">			
						</li>
			        </ul>
			    </div>
			</div>
        
{{ theme:partial name="footer" }}
