{{ theme:partial name="header" }}  
		{{ theme:partial name="nav" }}
		<div id="main" class="cf">
			{{ streams:cycle stream="media_stream" order_by="ordering_count" }}
			    {{ entries }}
			 		<div class="mediaItem number{{id}}">
				        <div class="imgWrapper">
				        	<img src="http://s3.amazonaws.com/brdesign-media/{{media_image:filename}}" alt="">
				        	<div class="imgCover"></div>
				        	<a target="_blank" class="link roundedButton" href="{{ media_link }}">Direct Link</a>
				        </div>
				        <h5 class="blurb">{{ media_blurb }}</h5>
			 		</div>
			    {{ /entries }}
			{{ /streams:cycle }}
        </div>     
{{ theme:partial name="footer" }}
