{{ theme:partial name="header" }}  
	
		{{ theme:partial name="nav" }}
		<div id="main" class="projectsHome">
			<p>{{projects_home_blurb}}</p>        
			
			<h4>{{variables:workplace}}</h4>
			<a name="workplace"></a>
			
			<div id="desktopSlider" class="BRD-ui-module carousel projectDesktopSlider" data-module="slider" data-slider="projectDesktopSlider">
			    <div class="mask">
			        <ul>
					 	{{ streams:cycle stream="project_grid_workplace" order_by="ordering_count" }}
							
							{{if count == 1 || 
								 count == 2 || 
								 count == 6 || 
								 count == 7 || 
								 count == 11 || 
								 count == 12 || 
								 count == 16 
							}} 
								<li data-sliderIndex="{{count}}">
							{{endif}}
								<div class="box item{{count}}">
									<img src="http://s3.amazonaws.com/brdesign_project-gird/{{project_grid_image:filename}}" alt="">
									<div class="cover"></div>
									<a href="{{ project_grid_relative_link }}">
										<h5>{{project_grid_text}}</h5>
				 					</a>
				 					<a class="link roundedButton" href="{{ project_grid_relative_link }}">Direct Link</a>
								</div>
							{{if count == 1 || 
								 count == 5 || 
								 count == 6 || 
								 count == 10 || 
								 count == 11 || 
								 count == 15 || 
								 count == 16
							}}
								</li>
							{{endif}}
							
						{{ /streams:cycle }}
			        </ul>
			    </div>
			</div> 

			<div id="mobileSlider" class="BRD-ui-module carousel projectMobileSlider" data-module="slider" data-slider="projectMobileSlider">
			    <div class="mask">
			        <ul>
						{{ streams:cycle stream="project_grid_workplace" order_by="ordering_count" }}							
							
							{{if count % 5 == 1}}
								<li class="gridMobile cf">
							{{endif}} 	
								<div class="box item{{count}}">
									<img src="http://s3.amazonaws.com/brdesign_project-gird/{{project_grid_image:filename}}" alt="">
									<div class="cover"></div>
									<a href="{{ project_grid_relative_link }}">
										<h5>{{project_grid_text}}</h5>
				 					</a>
				 					<a class="link roundedButton" href="{{ project_grid_relative_link }}">Direct Link</a>
								</div>
							{{if count % 5 == 0}}
								</li>
							{{endif}} 	
							
						{{ /streams:cycle }}
			        </ul>
			    </div>
			</div> 

			<h4 class="owners">{{variables:owners}}</h4>
			<a name="owners"></a>
			<div class="grid cf">
				{{ streams:cycle stream="project_grid-owners" order_by="ordering_count" }}
				    {{ entries }}
				 		<div class="box item{{count}}">
				 			<img src="http://s3.amazonaws.com/brdesign_project-gird/{{project_grid_image:filename}}" alt="">
				 			<div class="cover"></div>
				 			<a href="{{ project_grid_relative_link }}">
				 				<h5>{{project_grid_text}}</h5>
				 			</a>
				 			<a class="link roundedButton" href="{{ project_grid_relative_link }}">Direct Link</a>
				 		</div>
				    {{ /entries }}
				{{ /streams:cycle }}
			</div>
		</div>
{{ theme:partial name="footer" }}
