{{ theme:partial name="header" }}  
	
		{{ theme:partial name="nav" }}
		<div id="main" class="projectsHome">
			<p>{{projects_home_blurb}}</p>        
			
			<h4>{{variables:workplace}}</h4>
			<div class="grid">
				
			</div>

			<h4>Owners &amp; Developers</h4>
			<div class="grid cf">
				{{ streams:cycle stream="project_grid-owners" order_by="ordering_count" }}
				    {{ entries }}
				 		<div class="box item{{count}}">
				 			<img src="http://s3.amazonaws.com/brdesign_project-gird/{{project_grid_image:filename}}" alt="">
				 			<div class="cover"></div>
				 			<h5>{{project_grid_text}}</h5>
				 			<a class="link roundedButton" href="{{ project_grid_relative_link }}">Direct Link</a>
				 		</div>
				    {{ /entries }}
				{{ /streams:cycle }}
			</div>
		</div>
{{ theme:partial name="footer" }}
