{{ theme:partial name="header" }}  
	
		{{ theme:partial name="nav" }}
		<div id="main" class="project BRD-ui-module cf" data-module="mosaic">
			<h4>{{project_name}}</h4>
			<p>{{project_description}}</p>
			{{ if image1:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image1:filename}}" alt="">
			{{ endif }}

			{{ if image2:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image2:filename}}" alt="">
			{{ endif }}

			{{ if image3:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image3:filename}}" alt="">
			{{ endif }}

			{{ if image4:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image4:filename}}" alt="">
			{{ endif }}

			{{ if image5:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image5:filename}}" alt="">
			{{ endif }}

			{{ if image6:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image6:filename}}" alt="">
			{{ endif }}

			{{ if image7:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image7:filename}}" alt="">
			{{ endif }}

			{{ if image8:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image8:filename}}" alt="">
			{{ endif }}

			{{ if image9:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image9:filename}}" alt="">
			{{ endif }}

			{{ if image10:filename != "" }}
				<img src="http://s3.amazonaws.com/brdesign-project/{{image10:filename}}" alt="">
			{{ endif }}

			{{ if project_choice:value ===  "owners-developers" }}
				<p>this is a owners and developers page</p>
			{{ elseif project_choice:value ===  "workplace" }}
				<p>this is a workplace page</p>
			{{ endif}}

		</div>
{{ theme:partial name="footer" }}


