/** 
1. cd /Applications/MAMP/htdocs/brdesign/addons/shared_addons/themes/brd 
2. sass --watch sass:css  
**/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* For modern browsers */
.cf:before,
.cf:after {
  content: "";
  display: table; }

.cf:after {
  clear: both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom: 1; }

html {
  font-size: 100%; }

body {
  border-top: 8px solid #f60112;
  font-size: 1em;
  font-family: 'News Cycle', sans-serif; }

#outerWrap {
  max-width: 1280px;
  margin: 0 auto; }

#main {
  padding: 12em 4.2% 5em;
  z-index: 20; }

@media only screen and (max-width: 980px) {
  #outerWrap {
    font-size: .8em; } }
@media only screen and (max-width: 721px) {
  #outerWrap {
    background: yellow; } }
nav {
  font-family: "Fjalla One", sans-serif;
  background: #fff;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  z-index: 30;
  position: absolute;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  nav #inner {
    background: url("/assets/img/divider.jpg") center bottom no-repeat;
    margin: 0 4.2%; }
  nav a {
    text-decoration: none;
    text-transform: uppercase; }
  nav #logo {
    display: block;
    float: left;
    margin-top: 1.7em; }
  nav ul#nav {
    float: right;
    display: block;
    margin-bottom: 2em; }
    nav ul#nav li {
      padding: 2.5em 1.5em;
      display: block;
      float: left; }
      nav ul#nav li a {
        font-size: 1em;
        color: #6b6b6b; }
      nav ul#nav li.current {
        background: #f60112; }
        nav ul#nav li.current a {
          color: #fff; }
  nav .bottom {
    display: block;
    width: 100%;
    height: 4px;
    background: blue; }
  nav.fixed {
    position: fixed;
    top: 0; }

ul#social {
  float: right;
  display: block;
  padding: 2em 0 0 2em; }
  ul#social li {
    float: left;
    display: block;
    margin-right: .5em; }

footer {
  background: url("/assets/img/divider.jpg") center top no-repeat;
  font-size: 0.875em;
  color: #6b6b6b;
  margin: 0 4.2%;
  margin-bottom: 4em; }
  footer a {
    color: #6b6b6b;
    text-decoration: none;
    float: left; }
  footer a:hover {
    text-decoration: underline; }
  footer ul#social {
    margin: 0 auto;
    position: absolute;
    width: 121px;
    left: 0;
    right: 0; }
  footer h4 {
    float: right; }
  footer .align {
    line-height: 5em; }

@media (max-width: 860px) {
  nav ul#nav li {
    padding-left: .75em;
    padding-right: .75em; } }
.carousel,
.carousel .mask {
  width: 100%;
  height: auto; }

.carousel .mask {
  overflow: hidden; }

.carousel .mask > ul {
  list-style: none; }

.carousel .mask > ul > li {
  width: 100%;
  height: 100px;
  float: left; }
  .carousel .mask > ul > li img {
    max-width: 100%; }

.btnPrevious {
  width: 50px;
  height: 50px;
  background: transparent url(/assets/img/prev_btn.png) no-repeat top right;
  left: 2%; }

.btnNext {
  width: 50px;
  height: 50px;
  background: transparent url(/assets/img/next_btn.png) no-repeat top right;
  right: 2%; }

.btnPaginate {
  position: absolute;
  z-index: 11;
  top: 50%;
  cursor: pointer; }

#home {
  position: relative; }
  #home h3 {
    position: absolute;
    left: 12%;
    top: 30%;
    font-size: 3.75em;
    text-transform: uppercase;
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    letter-spacing: -1px;
    z-index: 11; }

#doubleSlider {
  position: relative; }
  #doubleSlider #backgroundSlider {
    width: 109%;
    left: -4.5%; }
    #doubleSlider #backgroundSlider .carousel,
    #doubleSlider #backgroundSlider .carousel .mask {
      width: 109%;
      height: auto; }
  #doubleSlider #foregroundSlider {
    background: red;
    position: absolute !important;
    top: 0;
    width: 500px; }
    #doubleSlider #foregroundSlider .carousel,
    #doubleSlider #foregroundSlider .carousel .mask {
      width: 500px; }

.roundedButton {
  text-decoration: none;
  color: #444444;
  border: 2px solid #6b6b6b;
  font-size: .9em;
  padding: 0 1.3em;
  line-height: 2.4em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px; }

.roundedButton:hover {
  text-decoration: none !important;
  background: #f60112;
  color: #fff;
  border: 2px solid #f60112; }

.about {
  color: #444444; }
  .about .hero {
    max-width: 100%;
    margin-bottom: 3em; }
  .about .row {
    margin-bottom: 3em; }
  .about .col-4 {
    height: inherit;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 2em;
    width: 25%;
    float: left;
    display: block; }
    .about .col-4 h3 {
      text-transform: uppercase;
      color: #f60112;
      font-family: "Fjalla One", sans-serif;
      padding-bottom: 5px; }
    .about .col-4 p {
      font-size: 1.125em;
      line-height: 1.5em; }
  .about .col-4:last-child {
    padding-right: 0; }
  .about #greyBoxContent {
    background: #dcdcdc;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3em 4.5em; }
    .about #greyBoxContent p {
      font-size: 1.5em;
      line-height: 1.375em; }
  .about #bottomRow {
    margin-top: 3em; }
    .about #bottomRow #left {
      float: left;
      width: 50%;
      padding-right: 8%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 1.5em;
      line-height: 1.375em; }
    .about #bottomRow #right {
      float: left;
      width: 50%; }
      .about #bottomRow #right ul {
        float: left;
        width: 46%; }
        .about #bottomRow #right ul li {
          font-size: 1em;
          padding: 0 0 .8em 0; }
      .about #bottomRow #right ul:first-child {
        margin-right: 6%; }

.clients #main img {
  border: 1px solid #6b6b6b;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 15%;
  margin: 0 2% 2% 0;
  opacity: 0.6; }
.clients #main img:nth-child(6n+0) {
  margin-right: 0; }
.clients #main img:hover {
  opacity: 1.0; }

.contact #main h3 {
  font-family: "Fjalla One", sans-serif;
  color: #444444;
  font-size: 1.875em;
  text-transform: uppercase;
  padding-bottom: .6em; }
.contact #main a.email {
  color: #6b6b6b;
  font-size: 1.5em;
  text-decoration: none; }
.contact #main a:hover {
  text-decoration: underline; }
.contact #main #map_canvas {
  margin-top: 2em; }
.contact #main address {
  padding-top: 2em;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #6b6b6b;
  display: inline-block; }
.contact #main a.roundedButton {
  float: right;
  margin-top: 2em; }
